form {
    background-color: white;
    background-repeat: no-repeat;
    margin: 3% 25%;
    padding: 3%;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}